<link rel="stylesheet" href="/css/_post.css">

<li id="post-<%=post._id%>" class="post-list" >
    <%if(post.user.id==locals.userId){ %>
        <a class="post-delete" href="/post/delete/<%=post._id%>" id="post-delete-<%=post._id%>" style="border: blue solid 2px; padding : 1px 5px; border-radius: 15%; box-shadow: 2px 2px 1px blue;">X</a>
        &nbsp;&nbsp;
    <%}%>
    <%=post.content%>
    
    
   
    <%if(locals.name){%>
        <div style="padding: 5px; margin-left: 30px;">
            <form action="/comment/create" class="post-comment" id="post-comment-<%=post._id%>" method="POST">
                <input type="hidden" name="postId" value="<%=post._id%>" >  
                <input type="text" name="content" id="comment-text-<%=post._id%>" placeholder="Enter Your Comment.." required style="height: 20px; width: 400px; padding: 2px 5px;">
                <button type="submit">Send</button>
            </form>
        </div>
       
    <%}%>
    <div class="post-comments-list">
        <ul id="post-comments-<%=post._id%>">
            <%for(comment of post.comments){%>
                <%- include('_comment') -%>
            <%}%>
        </ul>
    </div>
    <br>
    <%if(locals.userId){ %>
        <div style="display: inline;">
                <a href="/likes/toggle" class="like" data-type="Post" data-id="<%=post._id%>" style="text-decoration: none;">
                    <img src="/icons/like_button.png" id="image1" style="height: 13px; width: 20px; object-fit: contain;">
                </a> <p id="like-<%=post.id%>" style="display: inline;"><%=post.likes.length%></p> Likes
        </div>
        <div style="padding: 5px; margin-left: 500px; border-bottom: lightgrey solid 1px; display: inline;">
            <small><i> By : <u>
                        <%=post.user.name%>
                    </u>, UpdatedAt : <u>
                        <%=post.updatedAt.toDateString() %>
                    </u></i></small>
        </div>
    <%}else{%>
        <br>
        <p id="like-<%=post.id%>" style="display: inline;color : blue; font-weight: 600;">
            <%=post.likes.length%>
        Likes </p>
    <%}%>
</li>
<br>