

<%if(environment=='development' ){%>
    <link rel="stylesheet" href="/css/_chat_box.css">
    <link rel="stylesheet" href="/css/home.css">
<%}else{%>
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/_chat_box.css')%>">
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/home.css')%>">
<%}%>
<div id="home-container">
    
    <%if(locals.name){%>
        <section id="options-menu">
            <h3 style="margin-left: 10%;">Notifications</h3>
            <div id="notification">
                <%if(pendingRequests.length> 0){%>
                <div id="friend-request">
                    <h4>Pending Friend Request :</h4>
                        <%for(req of pendingRequests){%>
                            <div>
                                <div class="friend-request-name" id="name-<%=req._id%>">
                                    <a href="/user/profile/<%=req.from_user.id%>">
                                        <%=req.from_user.name%>
                                    </a>
                                </div>
                                <div class="friend-request-accept-button" id="button-<%=req._id%>">
                                    <button class="accept-friend-request-button" data-name="<%=req.from_user.name%>"data-to="<%=req.from_user._id%>" data-id="<%=req._id%>"
                                        onclick="acceptFriendRequest(this)">Accept </button>
                                </div>
                            </div>
                           
                        <%}%>
                    
                    </div>
                <%}%>
            </div>
        </section>
    <%}%>
    <section id="feed-posts">
        <%if(locals.name){%>
            <h2>Post : </h2>
            <form action="/post/create" id="new-post-form" method="POST" >
                <textarea id="text-content" name="content" cols="60" rows="8" placeholder="Type here..." required style="border: blue solid 2px;"></textarea>
                <input type="submit" value="Post">
            </form>
        <%}%>
            
        <!-- <% /* %>
            <div id="post-list-container">
                <ul>
                    <h4>All Posts : </h4>
                    <%if(locals.name){%>
                        <%for(var i=0; i < name.length; i++){%>
                            <li>
                                <b>Author :</b>
                                <%=name[i]%>, &nbsp;&nbsp;&nbsp;<b>Content:</b>
                                    <%=content[i]%>
                            </li>
                            <%}}%>
        
                </ul>
            </div>
        <% */ %> -->
            
        <div id="post-list-container">
            <h4>All Posts : </h4>
            <ul>
                <%if(locals.posts.length > 0){%>
                    
                    
                        <%for(post of posts){%>
                            <%- include('_post') -%>
                        <%}%>
                   
                <%}%>
            </ul>
        
        </div>
    
    </section>
    
    <section id="user-friends">
        <%if(locals.name){%>
            <h3>Friends</h3>
            
            <ul id="friends-list">
                    <%for(u of friends){%>
                        <li>
                            <div class="username">
                                <a href="/user/profile/<%=u.id%>">
                                    <%=u.name%>
                                </a>
                            </div>
                        </li>
                    <%}%> 
            </ul>

        <%}%>
        <%if(allUsers.length > 0){%>
            <h3>Users</h3>
            <div id="users">
                <ul id="user-list-container">
                        <%for(u of allUsers){%>
                            <%if(u.id==locals.userId) continue; %>
                            <li id="user-<%=u.id%>">
                                <div style="display: flex;">
                                    <div class="username">
                                        <a href="/user/profile/<%=u.id%>">
                                            <%=u.name%>
                                        </a>
                                    </div>
                                    <%if(locals.name){%>
                                        <div class="username-button">
                                            <button class="friend-request-button" data-to="<%=u.id%>" onclick="sendFriendRequest(this)">Add Friend</button>
                                        </div>
                                    <%}%>
                                </div>
                            </li>
                        <%}%>
                </ul>
            </div>
        <%}%>
        <%- include('_chat_box') -%>
        <!-- <%if(locals.name){%>
            
            <div id="chat-box" class="chatbox">
                <div id="drop-down-friend-list" class="dropdown">
                    
                    <select id="friend" name="fruits">
                        <option value="rahul">Rahul</option>
                        <option value="Aradhana">Aradhana</option>
                        <option value="pooja">Pooja</option>
                        <option value="sourabh">Sourabh</option>
                    </select>
                    <button class="hide-button" onclick="toggleChatbox()">-</button>
                </div>
                <div id="message-box">
            
                </div>
                <div id="chat-input">
                    <div style="display: inline-flex;">
                        <textarea type="text" placeholder="Type your message here"></textarea>
                    </div>
            
                    <div style="display: inline-flex; margin-left: -5px">
                        <button id="send-button" onclick="sendMessage()">Send</button>
                    </div>
            
                </div>
            </div>
            <button id="chat-icon" class="chat-icon hidden" onclick="showChatbox()"> + </button>

        <%}%> -->
    </section>

</div>
<%if(environment=='development'){%>
    <script src="js/home_post.js"></script>
    <script src="js/toggle_likes.js"></script>
    <script src="js/friend.js"></script>
    <script src="/js/chat_engine.js"></script>
<%}else{%>
    <script src="<%=assetPath('js/home_post.js')%>"></script>
    <script src="<%=assetPath('js/toggle_likes.js')%>"></script>
    <script src="<%=assetPath('js/friend.js')%>"></script>
    <script src="<%=assetPath('js/chat_engine.js')%>"></script>
<%}%>

<!-- adding socket.io library in frontend  -->
<script>

    $(' .like').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>

<!-- Getting socket.io library  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
    integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%if(locals.name){%>
    <script>
        new ChatEngine('user-chat-box', '<%=locals.email%>') // Intializing the ChatEngine class with our chat-box-id and user-email-Id.
    </script>
<%}%>

