
<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
   
    <section id="feed-posts">
        <%if(locals.name){%>
            <h2>Post : </h2>
            <form action="/post/create" id="new-post-form" method="POST" >
                <textarea id="text-content" name="content" cols="60" rows="8" placeholder="Type here..." required style="border: blue solid 2px;"></textarea>
                <input type="submit" value="Post">
            </form>
        <%}%>
        <!-- <% /* %>
            <div id="post-list-container">
                <ul>
                    <h4>All Posts : </h4>
                    <%if(locals.name){%>
                        <%for(var i=0; i < name.length; i++){%>
                            <li>
                                <b>Author :</b>
                                <%=name[i]%>, &nbsp;&nbsp;&nbsp;<b>Content:</b>
                                    <%=content[i]%>
                            </li>
                            <%}}%>
        
                </ul>
            </div>
        <% */ %> -->
            
        <div id="post-list-container">
            <h4>All Posts : </h4>
            <ul>
                <%if(locals.posts.length > 0){%>
                    
                    
                        <%for(post of posts){%>
                            <%- include('_post') -%>
                        <%}%>
                   
                <%}%>
            </ul>
        
        </div>
    
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <%for(u of allUsers){%>
            <%if(u.id == locals.userId) continue; %>
            <p>
                <a href="/user/profile/<%=u.id%>">
                    <%=u.name%>
                </a>
            </p>
            <%}%>
    </section>
</div>
<script src ="js/home_post.js"></script>
<script src="js/toggle_likes.js"></script>
<script>
    $(' .like').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>
